@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{ 
box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    font-size: 19px;
}
a{
text-decoration: none;
font-weight: 400;
}

input, textarea{
    border: 1px solid rgb(75, 12, 133);
    border-radius: 10px;
    padding: 10px;
}

button{
    border: 1px solid rgb(125, 54, 190);
    border-radius: 10px;
    padding: 10px 30px;
    background-color: rgb(129, 77, 177);
    color: white;
    font-size: 25px;
    
}

.header{
display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(153, 99, 204) ;
padding: 10px 20px;
margin: 20px;
border-radius: 60px;
}
.header .title {
    display: flex;
   align-items: center;
gap: 10px;

}
.content .about {
    display: flex;
    
}

.content .about img{
width: 400px;
height: 400px;
border-radius: 250px;
border: 15px solid  rgb(129, 77, 177);
margin: 40px;

}